@model IEnumerable<Domain.Cliente>

@{
    ViewBag.Title = "Home Page";
}
<style>
    .bu {
        height: 100px;
        width: 100px;
    }
</style>
<div>

    @foreach (var item in Model)
    {

        <input type="button" id="@item.ClienteId" class="bu"  name="@item.ClienteId" value="" />

    }

</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")*

    <script type="text/javascript" language="javascript">

        $(".bu").click(function () {

           

            });
        $(function () {
            $(document).on('click', 'input[type="button"]', function (event) {
                let id = this.id;
                alert("Se presionó el Boton con Id :" + id)
            });
        });
        
        </script>
}